body {
}

.content {
    height:auto;
    width:100%;
    padding:10px;
    

}
.profilePicstyle {
    height:250px;
    width:250px;
    border-radius:50%;
}
.profile_heading {
    letter-spacing:0.3rem;
    font-weight: bolder;
    font-size: 6rem;
    margin: auto;
    color: purple;
    text-align: center;
    display: block;
}
.tableback {
    margin-top:20px;
   background:url("../../images/profile-details1.jpg");
   background-size:cover;
    width:80%;
    margin:auto;
    text-align:center;
    font-size:1.5rem;
    height:50px;
}
.profile_left {
    text-align:right;
    height:50px;
    width:33%;
    color:darkblue;
    font-weight:bolder;
}
.profile_right {
    text-align: left;
    height: 50px;
}
.profile_mid {
    width: 100px;
    height: 50px;
}
.edit_pic_btn {
    height: 35px;
    width: 100px;
    display: block;
    background-color: :black;
    font-size: 2rem;
    border: none;
    background: none;
    margin: auto;
    padding: 114px;
    padding-left: 61px;
    color: white;
    cursor: pointer;
}
.profile-btn {
    height: 38px;
    font-size: 1.5rem;
    font-weight: 700;

    cursor:pointer;
    border-radius:50px;
    text-align:center;
   width:130px;
    background-color:darkblue;
    color:wheat;
    transition:all linear 0.2s;
}
.profile-details-box {
    width:auto;
    height:25px;
    border:2px solid blue;
    border-radius:10px;
    text-align:center;
}
#edit:hover {
    color: darkblue;
}
.pic-edit {
    display:none;
    transition:all ease 0.3s;
    background-color:rgba(0,0,0,0.6);
    z-index:5;
   height:250px;
   width:250px;
   margin-top:-250px;
   border-radius:50%;
    top:0;
    left:0;
    position:relative;
    
}
.photo:hover .pic-edit{
    display:block;
}
.profile-btn:hover {
    background-color: black;
}