body {
}
.backpage {
    opacity: 0.5;
    background: url("../../images/00966 Vintage Line Break Elements.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.letter {
    width: 50%;
    border-radius:15px;
    height: 95%;
    
    margin: auto;
    transform: translateY(10px);
}
.heading_sponsership {
    font-family: 'Nerko One', cursive;
    font-size: 3.9rem;
    color: black;
    opacity: 4;
    text-align: center;
}
.name {
    text-align: center;
    color: darkblue;
    letter-spacing: 1px;
}
.namesspace {
    overflow-y:scroll;
    
}

